:root{
    --board_height: 65vh;
    --square_piece: calc(var(--board_height)/8)
}

.chess-piece{
    background-size: calc(var(--board_height)/8);
    background-position: center;
    background-repeat: no-repeat;
    height: var(--square_piece);
    width: var(--square_piece);
}

.chess-piece:hover{
    cursor: grab;
}
.bottomLabel{
    position:relative;
    top:74.5px;
    left:84px;
}
.bottomLabelTwo{
    position:relative;
    top:76px;
    left:72px;
}