

.chess-piece{
    background-size: calc(var(--board_height)/8);
    background-position: center;
    background-repeat: no-repeat;
    height: var(--square_piece);
    width: var(--square_piece);
}

.chess-piece:hover{
    cursor: grab;
}
.bottomLabel{
    position:relative;
    top: calc(var(--square_piece) * .75);
    left: calc(var(--square_piece) * .89);
}
.bottomLabelTwo{
    position:relative;
    top: calc(var(--square_piece) * .75);
    left: calc(var(--square_piece) * .78);
}